<h1>Listing doctor_profiles</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Profilepic</th>
      <th>Schedule</th>
      <th>Speciality</th>
      <th>Title</th>
      <th>Userid</th>
      <th>Zipcode</th>
      <th>Fee</th>
      <th>Orgid</th>
      <th>Plan</th>
      <th>Plan</th>
      <th>Practice</th>
      <th>Npi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_profiles.each do |doctor_profile| %>
      <tr>
        <td><%= doctor_profile.firstname %></td>
        <td><%= doctor_profile.lastname %></td>
        <td><%= doctor_profile.profilepic %></td>
        <td><%= doctor_profile.schedule %></td>
        <td><%= doctor_profile.speciality %></td>
        <td><%= doctor_profile.title %></td>
        <td><%= doctor_profile.userid %></td>
        <td><%= doctor_profile.zipcode %></td>
        <td><%= doctor_profile.fee %></td>
        <td><%= doctor_profile.orgid %></td>
        <td><%= doctor_profile.plan %></td>
        <td><%= doctor_profile.plan %></td>
        <td><%= doctor_profile.practice_id %></td>
        <td><%= doctor_profile.npi %></td>
        <td><%= link_to 'Show', doctor_profile %></td>
        <td><%= link_to 'Edit', edit_doctor_profile_path(doctor_profile) %></td>
        <td><%= link_to 'Destroy', doctor_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor profile', new_doctor_profile_path %>
