<p>
  <strong>Firstname:</strong>
  <%= @doctor_profile.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @doctor_profile.lastname %>
</p>

<p>
  <strong>Profilepic:</strong>
  <%= image_tag "data:image/jpeg;base64,#{@doctor_profile.profilepic}" %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @doctor_profile.schedule %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @doctor_profile.speciality %>
</p>

<p>
  <strong>Title:</strong>
  <%= @doctor_profile.title %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @doctor_profile.zipcode %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @doctor_profile.fee %>
</p>

<p>
  <strong>Orgid:</strong>
  <%= @doctor_profile.orgid %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @doctor_profile.plan %>
</p>


<p>
  <strong>NPI Number:</strong>
  <%= @doctor_profile.npi %>
</p>

<%= link_to 'Edit', edit_doctor_profile_path(@doctor_profile) %> |
<%= link_to 'Back', doctor_profiles_path %>
