<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group"> 
  <div class="container">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= f.label :speciality %><br>
    <%= f.text_field :speciality %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= f.label :address_1 %><br>
    <%= f.text_field :address_1 %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= f.label :addres_2 %><br>
    <%= f.text_field :addres_2 %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
 </div>

  <div class="form-group">
    <%= f.submit class: "btn-group btn btn-lg btn-success"%>
  </div>
<% end %>
