 <div class="form-group"> 
  <div class="container">
    <%= label_tag :name %><br>
    <%= text_field_tag "practice[:name]" %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :speciality %><br>
    <%= text_field_tag "practice[:speciality]" %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :address_1 %><br>
    <%= text_field_tag "practice[:address_1]"  %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :addres_2 %><br>
    <%= text_field_tag "practice[:addres_2]"  %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :zip %><br>
    <%= text_field_tag "practice[:zip]"  %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :phone %><br>
    <%= text_field_tag "practice[:phone]"  %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :fax %><br>
    <%= text_field_tag "practice[:fax]" %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :email %><br>
    <%= text_field_tag "practice[:email]" %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :website %><br>
    <%= text_field_tag "practice[:web]"  %>
  </div>
 </div>

  <div class="form-group">
    <%= submit_tag "Create", class: "btn-group btn btn-lg btn-success"%>
  </div>

