<div class="container"> 
  <br><%=link_to '', new_doctor_profile_path, class:'pull-right glyphicon glyphicon-chevron-right'%><br>
  <h1>Practice Information</h1><br>
  <p>
    <strong class='lead'>Name:</strong>
    <%= @practice.name %><br>
  </p>

  <p>
    <strong class='lead'>Speciality:</strong>
    <%= @practice.speciality %><br>
  </p>

  <p>
    <strong class='lead'>Street Address</strong>
    <%= @practice.address_1 %><br>
  </p>

  <p>
    <strong class='lead'>City</strong>
    <%= @practice.address_2 %><br>
  </p>

  <p>
    <strong class='lead'>ZipCode:</strong>
    <%= @practice.zip %><br>
  </p>

  <p>
    <strong class='lead'>Phone:</strong>
    <%= @practice.phone %><br>
  </p>

  <p>
    <strong class='lead'>Fax:</strong>
    <%= @practice.fax %><br>
  </p>

  <p>
    <strong class='lead'>Email:</strong>
    <%= @practice.email %><br>
  </p>

  <p>
    <strong class='lead'>Website:</strong>
    <%= @practice.website %>
  </p>
</div>

