<%= form_tag('/patient_profiles', :id => 'ptntProfil') do %>
  <div class="form-group"> 
    <div class="container">
      <%= label_tag :firstname %><br>
      <%= text_field_tag "patient_profile[:firstname]" %>
    </div>
 </div>

 <div class="form-group"> 
   <div class="container">
    <%= label_tag :lastname %><br>
     <%= text_field_tag "patient_profile[:lastname]" %>
   </div>
 </div>

 <div class="form-group"> 
   <div class="container">
    <%= label_tag :profilepic %><br>
    <%= text_area_tag "patient_profile[:profilepic]" %>
  </div>
 </div>

 <div class="form-group"> 
  <div class="container">
    <%= label_tag :zipcode %><br>
    <%= text_field_tag "patient_profile[:zipcode]" %>
  </div>
 </div>

 <div class="form-group"> 
  <div class="container">
    <%= label_tag :docpref1 %><br>
    <%= number_field_tag "patient_profile[:docpref1]" %>
  </div>
 </div>
   
 <div class="form-group"> 
  <div class="container">
    <%= label_tag :docpref2 %><br>
    <%= number_field_tag "patient_profile[:docpref2]" %>
  </div>
 </div>
   
  <div class="form-group"> 
   <div class="container">
    <%= label_tag :doctpref3 %><br>
    <%= number_field_tag "patient_profile[:docpref3]" %>
   </div>
  </div>
    
  <div class="form-group">
    <%= submit_tag "Create", class: "btn-group btn btn-lg btn-success"%>
  </div>
<% end %>

