<!DOCTYPE html>
<html>
<head>
  <title>Portal</title>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/topnav'%> 
  

  
  <%=render 'layouts/side'%>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li ><%=link_to 'Home', root_path%></li>
        <li ><%=link_to 'Basic Information', new_practice_path%></li>
        <li><%=link_to 'Provider Profile', new_doctor_profile_path%></li> 
        <li><%=link_to 'Setup Payment', sub_merchant_new_path%></li> 
        <li><%=link_to 'Patient Profile', new_patient_profile_path%></li>
      </ul>
      
      <%flash.each do |key,value|%>
        <%=content_tag(:div, value, class:'alert alert-info')%>
      <%end%>

      <%= yield %>

    </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
</body>
</html>
